*.zip
*.tgz
*.tar.gz
*.tar
*.gz
*.pcap
cml_c9k_mcast_config.cfg
PKI-Troubleshooting/
opencode/
breakout_tool/

# Python
**/__pycache__/
*.py[cod]
**/.venv/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/

# Logs and temp files
*.log
*.tmp

# Editor/OS files
.vscode/
.idea/
.DS_Store

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

